<h1>Bus Simulator</h1>

<h2>Computer Science Large Practical 2013/2014</h2>

<h3>Author: s1101380</h3>

<h3>Part 1 - general details</h3>

<p><strong>Introduction</strong></p>

<p>This is a command line simulator for bus networks written in Python, version 2.6. It can parse files as in the CSLP handout specification and it produces as output events of the bus simulation as well as statistics and, if experimentations are present, it does simple parameter optimisation to try and find the best configuration.</p>

<p><strong>The input format</strong></p>

<p>The simulator accepts input as specified in the CSLP handout. Comments are also accepted starting with # and they can be both inline or on new lines. Control lines also do not have to be on the begining of the line (but putting spaces in between words on the line is <em>NOT</em> generally advised)</p>

<p>The keyword <code>experiments</code> specifies a list of values that the simulation should all try out.</p>

<p><strong>How to use it</strong></p>

<p>This is a copy of the output as given by simulator.py -h</p>

<p>For example usage, see Example usage below</p>

<p>Usage: simulator.py [options]
` 
 Options:</p>

<p>-h, --help            show this help message and exit</p>

<p>-f INPUT_FILE         reads simulation from INPUT_FILE</p>

<p>-o OUTPUT_FILE        outputs all events and statistics for all
                         experimentations specified in INPUT_FILE into
                         OUTPUT_FILE</p>

<p>-n SEED               sets the seed for the simulation to be the integer
                         SEED. Uses python's random module which happens to use
                         a Mersene Twister PNGR</p>

<p>--disembark-before-board</p>

<pre><code>                     passengers may board a bus on a stop only if all
                     passengers on the bus who want to disembark on the
                     stop have disembarked from it; default case is that
                     passengers may board a bus even when there are
                     passengers who still wish to disembark
</code></pre>

<p>--count-missed-passengers-multiple-times</p>

<pre><code>                     if a passenger misses n consecutive buses on a stop
                     due to full buses, then the passenger is counter as
                     missed n times; default case is to count missed
                     passenger once only.
</code></pre>

<p>--post-simulation-validation</p>

<pre><code>                     runs a post-simulation assertion test on the final
                     state of the simulation. Specify if you wish to be
                     even more certain that the simulation is not
                     exhibiting any inconsistencies; off by default
</code></pre>

<p>-v                    print to stdout; on by default</p>

<p>-q                    suppress stdout printing; note that if you do not
                         specify an output file and run the simulation with -q
                         no record is made of the simulation run`</p>

<p><code>-f INPUT_FILE</code></p>

<p>The only obligatory command line argument is the input file and it is supplied with -f followed by its name. If not given, the program throws an IOError Exception</p>

<p><code>-o OUTPUT_FILE</code></p>

<p>Optional argument. Writes the full output produced by the simulation : for every experimentation combination configuration(if any) it generates the configuration, followed by the list of events output by the simulation, and followed by the statistics for the simulation and a new line. If the parameter optimisation control line is present in the INPUT_FILE, then finally outputs the least cost configuration and its cost. All of this is written to the file OUTPUT_FILE. <strong>NOTE</strong> writing to file is different from printing to stdout, see -v and -q below for details on printing.</p>

<p><code>-n SEED</code></p>

<p>Optional argument. If present, runs the simulation by setting the seed to be the integer SEED. This is for reproducing results. Note that python uses the Mersene Twister Pseudo Random Number Generator http://docs.python.org/2.6/library/random.html . If not present, a random seed is used.</p>

<p><code>--disembark-before-board</code></p>

<p>Optional experimental feature. If flag is present, it will force the simulation to make passengers waiting for a bus on a stop to board it only after all passengers who have disembarked on that stop have done so. This might be useful in some bus networks where passengers board at the front door, for example Edinburgh. The default is to let passengers board and disembark at the same time, like in Berlin for example.</p>

<p><code>--count-missed-passengers-multiple-times</code></p>

<p>Optional experimental feature. If flag is present, it will count a passenger, who has missed n consecutive buses due to the them being full, as missed n times. The default setting is to count him only once regardless of the number of buses he misses.</p>

<p><code>--post-simulation-validation</code></p>

<p>Optional post-simulation test. If flag is present, this will run a series of assertion tests on the final state of the simulation which will verify that there are no inconsistencies. These tests are not exhaustive but they do cover a variety of failures. Naturally, this slows down the execution time. <strong>NOTE</strong> - this does not run the unit tests - for the see below. This is a sort of a 'dynamic-test' function that is there to assure the user 'a little bit more' that this stochastic simulator is outputting consistent events.</p>

<p><code>-v</code></p>

<p>Optional argument, set by default. This controls whether the simulation will print its output to stdout. <strong>NOTE</strong> regardless of this being set, the default behaviour for when INPUT_FILE contains experiments is to only output the experiments configuration and the summary statistics i.e. even with -v, if the file contains experiments the simulation events won't be printed! This was done in light of the fact that if experiments are present, usually one is interested in the summary statistics and the experiment configuration. However, if one still wants to look at the generated events, then specifying an OUTPUT_FILE with -o will dump everything that the simulator produces as output into that file</p>

<p><code>-q</code></p>

<p>Optional argument, unset by default and it is the complement of -v. If set, it will supress printing to stdout. <strong>NOTE</strong> if a simulation is run from a file that contains experiments and no OUTPUT_FILE is specified with -o and -q is also given, then all output by the simulation is lost! Therefor only use this flag if you want to suppress output since you are saving into a file anyway.</p>

<p><strong>Example usage</strong></p>

<p>In the folder test_files there are a number of files that are used for unit tests and they should not be changed. However, a number of files are present only for running the simulation on them and they can be used as follows:</p>

<p><code>python simulator.py -f test_files/simple12.text</code></p>

<p>This will just run the simulation with file simple12.text and will print to std out. Use</p>

<p><code>python simulator.py -f test_files/simple12.text -o 12.out</code> </p>

<p>to save the output it produced to file 12.out and</p>

<p><code>python simulator.py -f test_files/simple12.text -o 12_2.out -q</code> to not print to stdout while saving to 12_2.out</p>

<p><code>python simulator.py -f test_files/simple12.text -n 12345678</code> will run the simulation with seed 12345678 and thus, if you give it back the same seed it will produce the same set of events.</p>

<p><code>python simulator.py -f test_files/simple10.text -o 10.out</code> will run the simulation from file simple10.text which has experiments and optimise parameters and thus only the statistics (not the events) for every configuration will be printed but ALL the output will be save to 10.out</p>

<p><code>python simulator.py -f test_files/simple8.text -o 8.out --disembark-before-board -n 1234 --post-simulation-validation -q</code> will run the simulation from file simple8.text, it will force passengers to disembark before others can board, it will use the seed 1234, it will save the output to 8.out, it will run post simulation tests and it will not print to stdout (and it will do parameter optimisation)</p>

<p>All the files in the above examples are commited into the git repository and can be inspected - they are in the sample_output dir</p>

<h3>Part 2 - implementation and developer details</h3>

<p><strong>Tests</strong></p>

<p>The tests for the simulator can be run either with the </p>

<p><code>./tests</code> script </p>

<p>or by running <code>python unit_tests_main.py</code> . The tests take about 17 seconds to complete on a modern, regular purpose PC.</p>

<p>Tests are not exhaustive of the code but they do cover most of it. The Python coverage report can be seen in <a href='htmlcov/index.html'> here</a> or if this doesnt open or display go to htmlcov/index.html</p>

<p><strong>Development details</strong></p>

<p>The simulator is written in Python 2.6 and was mostly developed on a x64 Linux Mint machine (my own laptop) with the same version of Python as on DICE. I used a python virtual environment, which I set up in the directory ENV (not present in the repository). I used emacs as an editor and IPython as an IDE.</p>

<p><strong>Code optimisation</strong></p>

<p>I used cProfile, a python profiler, to profile my code. I found out that a couple of functions, namely are_passengers_waiting_to_disembark_cur_stop(), are_passengers_waiting_for_bus(), and their get versions, as well as the discrete_dist_samples method in simulation_execution are slow and I rewrote them. To see the profiling, you must open ipython(or plain python) load module pstats and type</p>

<p><code>p = pstats.Stats('simstats')</code></p>

<p><code>p.strip_dirts().sort_stats('cumulative').print_stats(40)</code></p>

<p>to see the top 40 methods sorted in cumulative time</p>

<p><strong>Project Architecture</strong></p>

<p>I did not change anything in a fundametal way in the architecture of the project from the submission for part1. I did move all the small classes into the file for simulation_instace (as suggested). So, just a broad, high-level view of my code structure:</p>

<p><code>simulation_instance.py</code></p>

<p>Contains </p>

<p>SimulationInstance() class which is a static, or state, representation of a simulation. It is constructed from a dictionary as output by simulator_io.parse_input_file(). It is intended to all object references (but this is not always the case). It also performs more fine-grained and sophisticated validation, see below.</p>

<p>Bus, Road, Route, Stop, Passenger classes - they represent the entities of our simulation. When they would reference each-other I tried to use identifier instead of actual objects ( say Passenger() instances have a origin_stop attribute but that is not an actual reference to a stop but its integer identifier)</p>

<p><code>simulation_execution.py</code></p>

<p>Contains SimulationExecution() - a class that is the dynamic representation of a simulation, it contaisn the most import function, run_simulation() which runs the simulation. A SimulationExecution has its own SimulationInstance. The file also contains the 5 event classes: PassengerEntersSimulation(), PassengerBoards(), BusDepartsStop(), BusArrivesAtStop(), PassengerDisembarksBus() and I removed their common superclass, Event, since part 1. The file also contains 2 general purpose functions that are used inside SimulationExecution but I decided that having them as member functions was an overkill : uzip and normalise.</p>

<p><code>simulator_io.py</code></p>

<p>Contains the main IO function that does the initial parsing of the input files : parse_input_file(). The function produces a list of dictionaries, one for each combination of experimentation values and it also does the first, coarse level of validation. For more on validation, see below. File also contains Exception mini classes - SimulationInputError and SimulationInputWarning, update_progress() - a progress bar, dislayed only when there are no experiments, and compute_statistics() : a method that computes the average number of events given a file with multiple levels runs of a simulation. This is an experiment function and it was nice having it as a debug tool but I decided not to include it in the simulator itself.</p>

<p><code>simulation_collection.py</code></p>

<p>Contains SimulationCollection() - a class that holds multiple SimulationExecutions, each one for a given experimentation combination. It takes a number of parameters in its constructors that are passed to it in simulator.py from the command line. The method run_all_simulations() runs all simulations</p>

<p><code>simulator.py</code></p>

<p>Contains the code that parses the command line arguments and produces a running simulation.</p>

<p><code>unit_tests.py and unit_tests_main.py</code></p>

<p>My unit tests, mostly self explanatory</p>

<p><strong>Validation</strong></p>

<p>Validation was done on three levels - in parse_input_files, where it was course i.e. if we, say, didn't specify any routes, in SimulationInstance's setup_simulation_from_dict(), where it was more fine i.e. if we, say, gave 2 routes the same identifier, and in validate_input() (again in SimulationInstace) where it was more sophisticated i.e. we look for things like if there are 2 consecutive stops for which there is no road. </p>

<p>We have 2 types of validation misfits: errors and warnings. My idea was to permit the code catch as much errors and warnings as possible in the 3rd validation level i.e. in validate_input() since these were hard to spot errors that would create a SimulationInstance that is potentially runable, and to stop execution when an error(or warning) was spotted in the 1st and 2nd validation levels(in parse_input_file() and setup_simulation_from_dict()) since these were gross errors that could have lead to other, unhandled exceptions in the parsing code. </p>

<p>If the control line ignore warnings was present, the warnings are ignored, but otherwise the execution will halt even if there is a warning.</p>

<p><strong>Experimentation</strong></p>

<p>Experiments were implemented as specified in the CSLP handout. From the simulation's point of view, there are no experiments and that's why I have a SimulationCollection() class that has a list of SimulationExecutions.</p>

<p><strong>Analysis</strong></p>

<p>Analysis is output as specified. The extra feature I added (count passengers multiple times) is as described in <strong>How to use it</strong> .</p>

<p><strong>Parameter Optimisation</strong></p>

<p>Parameter optimisation is quite crude - the cost function proposed in the CSLP handout it used i.e. (board rate + disembarks rate)*overall number of missed passengers. </p>

<p><strong>Git repository</strong></p>

<p>I made use of branches again, I also used rebasing,stashing, and I tried to keep my repository clean,out of junk, and well documented</p>

<p><strong>TODO</strong></p>

<p>I'm using a bash grep script for this, as suggested</p>

<p><strong>README</strong></p>

<p>This readme was generated with a mardown generator from here http://daringfireball.net/projects/markdown/ , and it is also commited in the repository. To use try</p>

<p><code>perl Markdown.pl README.md &gt; some_file.html</code></p>
